.benefits {
    background-image: url("/img/bg1.jpg") ;
    height:650px;
}
.benefits__title {
    text-align: center;
    color: black;
    margin-bottom: 60px;    
}
.benefits__list {
    display: flex;
    justify-content: space-between;
}
.benefits__item {
    text-align: center;
    flex: 1;
}
.benefits__img {
    margin-bottom: 30px;
  
}
.benefits__benefit{
    margin-bottom: 30px;
    font-family: 'Lifehack-Medium';
    font-size: 24px;
}
.benefits__description{
    font-family: 'Ubuntu-Light';
    font-size: 14px;
    color: rgba($color: #2f3234, $alpha: 0.8);
}